.Skills {
  background-color: #f8eaea;
}

.title-one {
  color: #71c0a3;
  margin: 5%;
}
.title-two {
  margin: 5%;
  font-size: 150%;
}
.app-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-group {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-name {
  margin: 3%;
  font-size: 100%;
}
.icon-logos {
  width: 60%;
  animation: moveIcon 3s infinite ease-in-out;
  transition: transform 0.3s ease;
}
.icon-logos:hover {
  transform: scale(1.8);
}

.skills-one {
  color: #71c0a3;
  font-weight: 900;
  margin-left: 5%;
  font-size: 150%;
}
.skills-two {
  font-size: 150%;
  margin-left: 5%;
}
.title {
  font-size: 180%;
  color: #71c0a3;
}
@media (min-width: 768px) {
  .title-one {
    color: #71c0a3;
    font-size: 250%;
    margin: 2%;
  }

  .title-two {
    margin: 2%;
  }
  .logo-name {
    margin: 1%;
    font-size: 100%;
  }
  .icon-logos {
    width: 40%;
  }
  .icon-logos:hover {
    transform: scale(1.8);
  }
  .skills-one {
    color: #71c0a3;
    font-size: 200%;
  }
  .skills-two {
    font-size: 180%;
  }
  .title {
    font-size: 200%;
  }
  @media (min-width: 1400px) {
    .title-one {
      font-size: 250%;
      margin: 1%;
    }
    .title-two {
      font-size: 200%;
      margin: 1%;
    }
    .logo-name {
      margin: 1%;
      font-size: 100%;
    }
    .logo-name {
      font-size: 180%;
    }
    .icon-logos {
      width: 18%;
    }
    .logo-group {
      margin: 2.5%;
    }
    .skills-one {
      color: #71c0a3;
      font-weight: 900;
      font-size: 200%;
      margin: 1%;
    }
    .skills-two {
      font-size: 180%;
      margin: 1%;
    }
    .title {
      font-size: 200%;
      color: #71c0a3;
    }
  }
  @media (min-width: 1500px) {
    .title-one {
      font-size: 250%;
    }
    .title-two {
      font-size: 220%;
    }
    .logo-name {
      font-size: 120%;
    }
    .icon-logos {
      width: 15%;
    }
    .logo-group {
      margin: 2%;
    }

    .skills-one {
      font-size: 220%;
    }
    .skills-two {
      font-size: 220%;
    }
  }
}
