.title-contact-work {
  margin: 3%;
}

#button-work {
  width: 45%;
  height: 45px;
  background: #453815;
  color: #ffffff;
  font-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-bottom: 2%;
  cursor: pointer;
}
#button-work:hover {
  background-color: #71c0a3;
}

.Work .title-contact-work {
  color: #71c0a3;
  font-size: 200%;
}

.Work .carousel-slide .carousel-title {
  color: #71c0a3;
  font-size: 180%;
  font-weight: bold;
}
.carousel-indicators li {
  background-color: black;
}

.Work .carousel-slide .carousel-description {
  color: #71c0a3;
  font-size: 150%;
}

.Work-item .description {
  font-size: 180%;
  margin: 1%;
}
.work-item .title {
  font-size: 180%;
  margin: 5%;
}
@media (min-width: 768px) {
  .work-item .description {
    font-size: 120%;
  }
  .work-item .title {
    font-size: 180%;
    margin: 1%;
  }
}

@media (min-width: 1440px) {
  .work-item .work-image {
    max-width: 600px;
  }
  .work-item .description {
    font-size: 250%;
  }
  #button-work {
    width: 30%;
    height: 45px;
    background: #453815;
    color: #ffffff;
    font-size: 150%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 1%;
    margin-bottom: 2%;
  }
}

@media (min-width: 1500px) {
  .work-item .work-image {
    max-width: 800px;
    height: 150%;
    margin-bottom: 5px;
    margin-top: -5%;
  }
  .work-item .description {
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  #button-work {
    font-size: 150%;
    margin-top: -2%;
    margin-bottom: 2%;
  }
  .Work {
    margin: 5%;
  }
}
