.get-in-touch {
  width: 250px;
  height: 35px;
  background: #453815;
  color: #ffffff;
  font-size: 150%;
  float: left;
  margin: 1%;
  cursor: pointer;
}

.get-in-touch:hover {
  background-color: #71c0a3;
}
